* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.gallery {
  display: flex;
  gap: 18px;
  padding-bottom: 32px;
  justify-content: center;
}

.liclass {
  flex-basis: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}
.foto {
  max-width: 230px;
  max-height: 201px;
  margin-bottom: 8px;
  margin: 0 auto;
}
